@import url('/node_modules/bootstrap');
@import url("/node_modules/tailwindcss/base.css");

@import url("/node_modules/tailwindcss/components.css");

@import url("/node_modules/tailwindcss/utilities.css");

@import url('/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css');
@import url('/node_modules/@fortawesome/fontawesome-free/css/regular');
@import url('/node_modules/@fortawesome/fontawesome-free/css/solid');
@import url('/node_modules/@fortawesome/fontawesome-free/css/brands');


.btn-success {
    background-color: #78e77d !important;
}
.badge{
    background-color: #ffffff !important;
}
.alert-success{
    background-color: #78e77d !important;
}
.alert-danger{
    background-color: #e60c1e !important;
}
.alert-info{
    background-color: #89b3f3 !important;
}
.alert-dark{
    background-color: #272a2d !important;
}
.alert-light{
    background-color: #c1d0e5 !important;
}
.alert-primary{
    background-color: blue !important;
}
.alert-warning{
    background-color: rgb(139, 139, 27) !important;
}